# Default ignored files
/shelf/
/workspace.xml
/.name
# Datasource local storage ignored files
/../../../../../../:\Users\anneg\IdeaProjects\P9\.idea/dataSources/
/dataSources.local.xml
../target
# Editor-based HTTP Client requests
/httpRequests/
